@import "tailwindcss";
@import "tw-animate-css";

@import "../../node_modules/@bun-ui/react/dist/theme.css" layer(base);

@source "../../node_modules/@bun-ui/react/dist/";

[data-rehype-pretty-code-figure] code {
  background: transparent;
}

[data-rehype-pretty-code-figure] [data-line] {
  padding: 0.25rem 0.5rem;
}

pre code {
  font-size: 0.875rem;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
  border-radius: 5px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--border)) transparent;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .container-wrapper {
    @apply mx-auto w-full max-w-[1400px] min-[1800px]:max-w-screen-2xl;
  }

  .container {
    @apply mx-auto max-w-screen-2xl px-4 xl:px-6;
  }
}

:root {
  --header-height: 60px;
}
